@media screen and (max-width: 700px) {
    .menu-bar{
        display: none;
        margin: 0px;
        padding: 0px;
    }
    .mid-content{
        margin: 0;
        padding: 0;
    }
    .left-bar{
        display: none;
        margin: 0;
        padding: 0;
    }
    .one1{
        display: flex;
        flex-direction: column;
    }
    .tables{
        display: flex;
        flex-direction: column;
    }
}

.table{
    display: table;

    width: 500px;
}

.throw{
    display: table-row ;
}
.tcell{
    display: table-cell;
    border-bottom: 2px solid rgb(214, 210, 210);
    padding: 8px;
}